<template name="channelListings">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul>
            {{ #each channels }}
            <a href="/c/{{title}}"><li>{{ title }}</li></a>
            {{ /each }}
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            {{ #each channels }}
            <a href="/c/{{title}}"><li>{{ title }}</li></a>
            {{ /each }}
          </ul>
        </div>
      </div>
    </div>
</template>
